
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <iframe height="283" frameborder="0" width="452" src="http://www.tudou.com/v/www7AcxRtY4/&amp;resourceId=0_04_05_99&amp;autoPlay=true&amp;autostart=true/v.swf"></iframe>
</div>
<h2>Video 2</h2>
    <video width="480" height="320" src="http://v.youku.com/player/getRealM3U8/vid/XMzkxMTM3MDQw/type//video.m3u8" controls>
        <embed src="http://player.youku.com/player.php/sid/XMzkxMTM3MDQw/v.swf" allowfullscreen="true" quality="high" width="480" height="320" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
    </video>
<h3>Video 3</h3>
<div>
    <embed src="//www.tudou.com/l/p6Ne7L01n9E/&resourceId=0_05_05_99&iid=184846681&bid=05/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="480" height="400"></embed>
</div>
<!-- Start of Brightcove Player -->
<div style="display:none">
    Player description
</div>
<!--
  By use of this code snippet, I agree to the Brightcove Publisher T and C
  found at http://corp.brightcove.com/legal/terms_publisher.cfm.
  -->
<script language="JavaScript" type="text/javascript"
        src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js">
</script>
<object id="myExperience" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="486" />
    <param name="height" value="412" />
    <param name="playerID" value="1726689948" />
    <param name="publisherID" value="270881183" />
    <param name="playerKey" value="AQ~~,AAAAstMe5SE~,5vOZeV6rFDb4JUBomUtNzVLbOfHyhc1i" />
    <param name="isVid" value="true" />
    <param name="secureConnections" value="true" />
    <param name="secureHTMLConnections" value="true" />
</object>
<!-- End of Brightcove Player -->
<script>
    !function (a) { var b = "embedly-platform", c = "script"; if (!a.getElementById(b)) { var d = a.createElement(c); d.id = b, d.src = ("https:" === document.location.protocol ? "https" : "http") + "://cdn.embedly.com/widgets/platform.js"; var e = document.getElementsByTagName(c)[0]; e.parentNode.insertBefore(d, e) } }(document);
</script>
@section scripts{

}
