
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <iframe height="283" frameborder="0" width="452" src="http://www.tudou.com/v/www7AcxRtY4/&amp;resourceId=0_04_05_99&amp;autoPlay=true&amp;autostart=true/v.swf"></iframe>
</div>
@section scripts{

}
